<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soutosss.snapshottest.test"
          android:sharedUserId="com.soutosss.snapshottest.uid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>